@media(min-width:200px) and (max-width:575px){

    header{
        flex-direction: column;
        align-items: stretch;
        height:fit-content;
    }

    .headerLeft{
        justify-content: center;
    }
    .header-logo{
        padding:10px;
    }
    .headertxt{
        padding:10px;
    }
    .headertxt h3{
        font-size:15px;
    }
    .headertxt p{
        font-size:15px;
    }
    .headerSearch{
        width:90%;
        margin:0 auto;
    }
    .headerBtn{
        width:100%;
        justify-content: center;
        position: fixed;
        bottom:0px;
        background-color: white;
    }
    .banner-section{
        display:none;
    }

    .order-section{
        flex-direction: column;
        padding:10px;
    }
    .category-items{
    flex-basis:25%;
    
}

}

@media(min-width:576px) and (max-width:1129px){
    .headertxt{
        padding:10px;
        width:max-content;
    }
    .headertxt h3{
        font-size:15px;
    }
    .headertxt p{
        font-size:15px;
    }

    .banner-section{
        display: none;
    }
    .order-section{
        justify-content: center;
    }
    .order-sectionItems{
    flex-basis:29%;
    }
}