*{
    margin: 0px;
    padding: 0px;
    /* , sans-serif */
    font-family: Helvetica; 
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}

header{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: #FFFFFF;
    width:100%;
    height:5rem;
    border-bottom: 1px solid lightgrey;
}

.headerLeft{
    display: flex;
    align-items: center;
}

.header-logo{
    padding:24px;
    border-right: 1px solid lightgrey;
    cursor: pointer;
}

.header-logo:hover{
    background-color: rgba(232, 232, 232, 0.272);
}

.headertxt{
    padding:64px;
    line-height: 24px;
    cursor: pointer;
}

.headerSearch input{
    flex-grow:1;
    height:48px;
    padding-left: 30px;
    font-size: 1rem;
    border:none;
    border-radius: 10px;
    background-color: rgba(232, 232, 232, 0.272);
    transition: 0.3s;
}
.headerSearch input:focus {
    background-color: white;
    border: 0.5px solid lightgray;
    outline: none;
}

.headerSearch{
    display:flex;
    align-items: center;
    position: relative;
    width:45vw;
}
.headerSearch i{
    position: absolute;
    left:10px;
}
.headerBtn{
    display: flex;
    align-items: center;
}

.loginBtn a{
    color:black;
    text-decoration: none;
    letter-spacing: 1px;
    padding:32px 48px 32px 48px;
}
.loginBtn a:hover{
    background-color: rgba(232, 232, 232, 0.116);
}
.cartBtn{
    display:flex;
    align-items: center;
    position:relative;
    color: white;
}

.cartBtn input{
    width:120px;
    height: 55px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 128, 0, 0.591);
    font-weight: 800;
    padding-left: 10px;
    cursor: not-allowed;
}
.cartBtn i{
    position: absolute;
    left:10px;
    font-size: 1rem;
}

/* Banner Section */
.banner-section{
    max-width:1280px;
    margin:auto;
}

.banner-section img{
    width:100%;
    cursor:pointer;
}

.order-section{
    display:flex;
    max-width: 1280px;
    margin:auto;
}
.order-sectionItems{
    flex-basis:24%;
    margin:1.2%;
}
.order-sectionItems img{
    width: 100%;
    cursor:pointer;
}

.category-section{
    max-width: 1280px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}
.category-items{
    flex-basis:10%;
    
}
.category-items img{
    width:100%;
}

.product-section{
    max-width: 1280px;
    margin:auto;
}
.headingRow{
    width:100%;
    display: flex;
    position: relative;
}
.headingRow a{
    font-size: 1.2rem;
    color: #328839;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right:0px;
}
.productRow{
    width:100%;
    display: flex;
    margin:30px 0px;
    gap:2%;
}
.productRow-items{
    flex-basis:15%;
    border: 1px solid rgba(119, 136, 153, 0.293);
    border-radius: 10px;
    box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.252);
    cursor:pointer;
}
.productImg img{
    width:80%;
}
.productImg{
    text-align: center;
}
.productImg p{
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.732);
    background-color: rgba(211, 211, 211, 0.293);
    width:30%;
    height:1.2rem;
    margin: 0px 0px 10px 10px;
    border-radius: 5px;
}

.productContent{
    padding:10px;
    padding-top: 0px;
}
.productContent h5{
    height: 40px;
    line-height: 1.2rem;
}
.productContent p{
    margin-top:20px;
    font-size: 0.7rem;
    color:rgba(0, 0, 0, 0.373)
}
.btn-price{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.btn-price p{
    color:black;
    font-size: 12px;
    font-weight: 700;
}
.btn-price button{
    color:green;
    border-radius: 5px;
    border:1px solid green;
    background-color: rgba(211, 211, 211, 0.219);
    padding:5px 15px 5px 15px;
    cursor: pointer;
}

/* footer section */
footer{
    margin-top:100px;
}

.footer-mid{
    max-width: 1280px;
    margin: auto;
}
.footer-mid-row1{
    display: flex;
    width:100%;
    margin-bottom: 50px;

}
.footer-mid-row1-left{
    flex-basis:30%;
}
.footer-mid-row1-left h3{
    margin-bottom: 30px;
}
.footer-mid-row1-right{
    flex-basis:70%;
    
}
.right-head{
    display:flex;
}
.right-head h3{
    margin-bottom: 40px;
    padding-right: 20px;
}
.right-head a{
    color:#328839;
    cursor:pointer;
}

.useful-links{
    display: flex;
}
.category-links{
    display: flex;
}
.useful-links ul{
    flex-basis:33%; 
}
.category-links ul{
    flex-basis:33%; 
}

.useful-links ul li a{
    
    color: rgb(113, 113, 113);
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom:10px;
}

.category-links ul li a{
    
    color: rgb(113, 113, 113);
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom:20px;
}
.useful-links ul li a:hover{
    color:rgba(107, 107, 107, 0.57);
}
.category-links ul li a:hover{
    color:rgba(107, 107, 107, 0.57);
}
.footer-mid-row3{
    padding: 20px;
    padding-bottom: 10px;
    
}
.footer-mid-row3 p{
    font-size: 0.9rem;
    color:rgb(113, 113, 113);
    text-align: left;
}

.footer-mid-row2{
    display: flex;
    align-items: center;
    background-color:  rgba(113, 113, 113, 0.03);
    width:100%;
    padding:20px 0px;

}
.footer-mid-row2 p{
    flex-basis: 40%;
    font-size: 0.7rem;
    text-align: center;
    color:rgb(113, 113, 113);
}
.footer-mid-row2-Apps{
    display:flex;
    align-items: center;
    gap:20px;
    color:rgb(113, 113, 113);
    cursor: pointer;
}
.sLinks{
    display: flex;
    gap:10px;
}
.sLinks i{
    color:black;
}